html, body {
    height: 100%;
    width: 100%;
    background-color: rgba(214, 214, 214, 0.8);
}

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
}

.calculator {
    height: 800px;
    width: 500px;
    padding: 1rem;

    background-color: white;
    border-radius: 1rem;
}

.screen {
    height: 200px;
    width: 100%;

    display: flex;
    align-items: end;
}

.screen-result {
    width: 100%;
    height: 75%;
    text-align: right;

    font-size: 80px;
    color:rgb(87, 97, 119);
}

.buttons {
    display: flex;
    height: 600px;
}

.col {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    display: block;
    font-size: 25px;
    border: 0;
    width: 110px;

    font-weight: bold;
    color:rgb(108, 118, 139);
}

button:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition: ease-in-out .3s;
}

.btn-operator {
    height: 110px;
    border-radius: 50%;
    background-color:  rgb(240, 240, 240);
}

.btn-clear {
    height: 110px;
    border-radius: 50%;
    background-color:  rgb(240, 150, 150);
}

.btn-result {
    height: 480px;
    border-radius: 3rem;
    background-color: rgb(185, 239, 255);
}